# **Cricket Score Prediction**

# Preprocessing Of DataSet

## Import Libiraries

In [154]:
import pandas as pd

## Load the DataSet

In [155]:
cricket = pd.read_csv("../Data_set/DataSet_Cricket.csv")

In [156]:
# First 5 Rows
cricket.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground

In [157]:
# Check the Null Values
cricket.isnull().sum()

Unnamed: 0             0
match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8548
venue                  0
dtype: int64

In [158]:
# Check the shape of the data set
cricket.shape

(63888, 9)

In [159]:
# Get the Columns of the DataSet
cricket.columns

Index(['Unnamed: 0', 'match_id', 'batting_team', 'bowling_team', 'ball',
       'runs', 'player_dismissed', 'city', 'venue'],
      dtype='object')

In [160]:
# Get the City from Venu Columns of the DataSet and fill the null values of city columns
cricket['city'] = cricket['city'].fillna(cricket['venue'].apply(lambda x : x.split(' ')[0]))

In [161]:
# Check the null values of city columns
cricket.isnull().sum()

Unnamed: 0          0
match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [162]:
# Check all  value of the city
cricket['city'].unique()

array(['Melbourne', 'Victoria', 'Adelaide', 'Napier', 'Mount Maunganui',
       'Auckland', 'Southampton', 'Taunton', 'Cardiff',
       'Chester-le-Street', 'Kanpur', 'Nagpur', 'Bangalore', 'Lauderhill',
       'Dubai', 'Abu Dhabi', 'Sydney', 'Hobart', 'Wellington', 'Hamilton',
       'Bloemfontein', 'Potchefstroom', 'Barbados', 'Trinidad', 'Colombo',
       'St Kitts', 'Jamaica', 'Nelson', 'Ranchi', 'Birmingham',
       'Manchester', 'Bristol', 'Delhi', 'Rajkot', 'Thiruvananthapuram',
       'Lahore', 'Johannesburg', 'Centurion', 'Cape Town', 'Cuttack',
       'Indore', 'Mumbai', 'Dhaka', 'Sylhet', 'Karachi', 'Harare',
       'Carrara', 'Brisbane', 'Dehradun', 'Kolkata', 'Lucknow', 'Chennai',
       'Gros Islet', 'Basseterre', 'Visakhapatnam', 'Bengaluru',
       'Canberra', 'Perth', 'East London', 'Durban', 'Port Elizabeth',
       'Chandigarh', 'Hyderabad', 'Christchurch', 'Providence', 'Kandy',
       'Chattogram', 'Pune', 'Paarl', 'London', 'Nairobi', 'Nottingham',
       'King City', 'Guyana', 'St Lucia', 'Antigua', 'Pallekele',
       'Mirpur', 'Hambantota', 'Ahmedabad', 'St Vincent', 'Sharjah',
       'Chittagong', 'Dominica', 'Dharmasala', 'Dharamsala'], dtype=object)

In [163]:
# Check the count of the cities
cricket['city'].value_counts()

city
Colombo          4086
Mirpur           3420
Johannesburg     3331
Dubai            2969
Auckland         2532
                 ...
Nairobi           123
Potchefstroom     122
Dharamsala        122
Ahmedabad         121
Carrara            64
Name: count, Length: 86, dtype: int64

In [164]:
eligible_cites = cricket['city'].value_counts()[cricket['city'].value_counts() > 600].index.tolist()

In [165]:
eligible_cites

['Colombo',
 'Mirpur',
 'Johannesburg',
 'Dubai',
 'Auckland',
 'Cape Town',
 'London',
 'Pallekele',
 'Barbados',
 'Sydney',
 'Melbourne',
 'Durban',
 'St Lucia',
 'Wellington',
 'Lauderhill',
 'Hamilton',
 'Centurion',
 'Manchester',
 'Abu Dhabi',
 'Mumbai',
 'Nottingham',
 'Southampton',
 'Mount Maunganui',
 'Chittagong',
 'Kolkata',
 'Lahore',
 'Delhi',
 'Nagpur',
 'Chandigarh',
 'Adelaide',
 'Bangalore',
 'St Kitts',
 'Cardiff',
 'Christchurch',
 'Trinidad']

In [166]:
# Store the cities column which is eligible cities
cricket = cricket[cricket['city'].isin(eligible_cites)]

In [167]:
cricket.shape

(50501, 9)

## Feature Engineering

In [168]:
# Check the score after every ball
cricket['current_score'] = cricket.groupby('match_id')['runs'].cumsum()

In [169]:
cricket

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3
...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128

In [170]:
# Calcluate the balls
cricket['ball_no'] = cricket['ball'].apply(lambda x : str(x).split(".")[1])

In [171]:
cricket

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,ball_no
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,1
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,2
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,3
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,4
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,5
...,...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,3
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,4
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125,5
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,6
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,7

In [172]:
# Calcluate the overs
cricket['over'] = cricket['ball'].apply(lambda x : str(x).split(".")[0])

In [173]:
cricket

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,ball_no,over
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,1,0
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,2,0
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,3,0
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,4,0
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,3,19
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,4,19
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125,5,19
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,6,19
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,7,19

In [174]:
# Ball Play
cricket['ball_play'] = (cricket['over'].astype(int)*6 + cricket['ball_no'].astype(int))

In [175]:
cricket

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,ball_no,over,ball_play
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,1,0,1
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,2,0,2
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,3,0,3
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,4,0,4
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,5,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,3,19,117
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,4,19,118
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125,5,19,119
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,6,19,120
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,7,19,121

In [176]:
cricket['balls_left'] = 120 -cricket['ball_play']

In [177]:
cricket.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,ball_no,over,ball_play,balls_left
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,3,19,117,3
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,4,19,118,2
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125,5,19,119,1
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,6,19,120,0
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,7,19,121,-1

In [178]:
cricket['balls_left'] = cricket['balls_left'].apply(lambda x:0 if x < 0 else x)

In [179]:
cricket.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,ball_no,over,ball_play,balls_left
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,3,19,117,3
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,4,19,118,2
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125,5,19,119,1
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,6,19,120,0
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,7,19,121,0

In [180]:
cricket.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50501 entries, 0 to 63887
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        50501 non-null  int64
 1   match_id          50501 non-null  int64
 2   batting_team      50501 non-null  object
 3   bowling_team      50501 non-null  object
 4   ball              50501 non-null  float64
 5   runs              50501 non-null  int64
 6   player_dismissed  50501 non-null  object
 7   city              50501 non-null  object
 8   venue             50501 non-null  object
 9   current_score     50501 non-null  int64
 10  ball_no           50501 non-null  object
 11  over              50501 non-null  object
 12  ball_play         50501 non-null  int32
 13  balls_left        50501 non-null  int64
dtypes: float64(1), int32(1), int64(5), object(7)
memory usage: 5.6+ MB

In [181]:
# Player Dismissed fuction for yes or no
cricket['player_dismissed'] = cricket['player_dismissed'].apply(lambda x:1 if x!='0' else '0')

In [182]:
cricket.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50501 entries, 0 to 63887
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        50501 non-null  int64
 1   match_id          50501 non-null  int64
 2   batting_team      50501 non-null  object
 3   bowling_team      50501 non-null  object
 4   ball              50501 non-null  float64
 5   runs              50501 non-null  int64
 6   player_dismissed  50501 non-null  object
 7   city              50501 non-null  object
 8   venue             50501 non-null  object
 9   current_score     50501 non-null  int64
 10  ball_no           50501 non-null  object
 11  over              50501 non-null  object
 12  ball_play         50501 non-null  int32
 13  balls_left        50501 non-null  int64
dtypes: float64(1), int32(1), int64(5), object(7)
memory usage: 5.6+ MB

In [183]:
cricket['player_dismissed'].value_counts()

player_dismissed
0    47837
1     2664
Name: count, dtype: int64

In [184]:
# Convert to integer
cricket['player_dismissed'] = cricket['player_dismissed'].astype(int)

#### Cumulative sum is the running total of values in a column or series, where each value in the result is the sum of all previous values plus the current value.

In [185]:
# Cumulative sum of the `player_dismissed` column for each group of `match_id` in the `cricket` DataFrame
cricket['player_dismissed'] = cricket.groupby('match_id')['player_dismissed'].cumsum()

In [186]:
cricket['wicket_left'] = 10 - cricket['player_dismissed']

In [187]:
cricket

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,ball_no,over,ball_play,balls_left,wicket_left
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,1,0,1,119,10
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,2,0,2,118,10
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,3,0,3,117,10
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,4,0,4,116,10
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,5,0,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,8,Colombo,R Premadasa Stadium,125,3,19,117,3,2
63884,122,964,Sri Lanka,Australia,19.4,0,8,Colombo,R Premadasa Stadium,125,4,19,118,2,2
63885,123,964,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,5,19,119,1,1
63886,124,964,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,6,19,120,0,1
63887,125,964,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,7,19,121,0,1

In [188]:
cricket['current_run_rate'] = (cricket['current_score']*6) / cricket['ball_play']

In [189]:
groups = cricket.groupby('match_id')

In [190]:
match_id = cricket['match_id'].unique()

In [191]:
last_five =[]

In [192]:
# The code calculates a rolling sum of the 'runs' column over a 30-day window for each group identified by `id` in the `match_id` list and extends the result to `last_five`.
for id in match_id:
    group = groups.get_group(id)  
    rolling_sum = group['runs'].rolling(window=30, min_periods=1).sum()
    last_five.extend(rolling_sum.tolist())

In [193]:
cricket['last_five'] = last_five
last_five

[0.0,
 0.0,
 1.0,
 3.0,
 3.0,
 6.0,
 6.0,
 7.0,
 7.0,
 7.0,
 11.0,
 13.0,
 14.0,
 15.0,
 15.0,
 15.0,
 19.0,
 19.0,
 19.0,
 20.0,
 21.0,
 22.0,
 26.0,
 27.0,
 30.0,
 33.0,
 37.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 44.0,
 42.0,
 43.0,
 41.0,
 41.0,
 41.0,
 42.0,
 42.0,
 39.0,
 38.0,
 39.0,
 38.0,
 39.0,
 40.0,
 37.0,
 41.0,
 42.0,
 42.0,
 44.0,
 44.0,
 40.0,
 39.0,
 37.0,
 35.0,
 31.0,
 27.0,
 26.0,
 31.0,
 31.0,
 30.0,
 31.0,
 31.0,
 32.0,
 31.0,
 31.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 35.0,
 32.0,
 32.0,
 31.0,
 29.0,
 29.0,
 31.0,
 32.0,
 32.0,
 32.0,
 33.0,
 36.0,
 37.0,
 37.0,
 39.0,
 41.0,
 40.0,
 41.0,
 41.0,
 42.0,
 44.0,
 39.0,
 43.0,
 45.0,
 48.0,
 48.0,
 48.0,
 49.0,
 49.0,
 49.0,
 51.0,
 51.0,
 51.0,
 52.0,
 52.0,
 53.0,
 53.0,
 53.0,
 54.0,
 53.0,
 52.0,
 50.0,
 53.0,
 47.0,
 46.0,
 45.0,
 46.0,
 47.0,
 49.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 2.0,
 8.0,
 9.0,
 9.0,
 13.0,
 14.0,
 15.0,
 15.0,
 19.0,
 20.0,
 21.0,
 21.0,
 25.0,
 26.0,
 27.0,
 31.0,
 31.0,
 31.0,
 35.0,
 35.0,
 39.0,
 40.0,
 44.0,
 46.0,
 52.0,
 53.0,
 57.0,
 58.0,
 59.0,
 59.0,
 59.0,
 53.0,
 53.0,
 54.0,
 50.0,
 50.0,
 49.0,
 50.0,
 47.0,
 48.0,
 49.0,
 49.0,
 46.0,
 46.0,
 51.0,
 48.0,
 48.0,
 48.0,
 44.0,
 45.0,
 42.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 36.0,
 35.0,
 39.0,
 39.0,
 38.0,
 38.0,
 37.0,
 37.0,
 38.0,
 39.0,
 41.0,
 40.0,
 40.0,
 39.0,
 38.0,
 39.0,
 42.0,
 47.0,
 42.0,
 45.0,
 45.0,
 49.0,
 49.0,
 48.0,
 47.0,
 45.0,
 45.0,
 45.0,
 40.0,
 41.0,
 41.0,
 42.0,
 37.0,
 38.0,
 39.0,
 43.0,
 46.0,
 47.0,
 47.0,
 46.0,
 50.0,
 56.0,
 57.0,
 60.0,
 59.0,
 59.0,
 55.0,
 51.0,
 51.0,
 51.0,
 53.0,
 51.0,
 51.0,
 52.0,
 53.0,
 54.0,
 53.0,
 54.0,
 53.0,
 52.0,
 51.0,
 51.0,
 51.0,
 0.0,
 3.0,
 4.0,
 4.0,
 4.0,
 8.0,
 9.0,
 13.0,
 17.0,
 19.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 26.0,
 26.0,
 30.0,
 31.0,
 35.0,
 35.0,
 35.0,
 39.0,
 40.0,
 40.0,
 41.0,
 41.0,
 42.0,
 42.0,
 42.0,
 42.0,
 43.0,
 42.0,
 42.0,
 43.0,
 40.0,
 40.0,
 37.0,
 33.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 37.0,
 34.0,
 39.0,
 35.0,
 36.0,
 36.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 34.0,
 35.0,
 41.0,
 43.0,
 41.0,
 42.0,
 43.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 47.0,
 50.0,
 51.0,
 52.0,
 57.0,
 53.0,
 58.0,
 61.0,
 59.0,
 65.0,
 68.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 74.0,
 73.0,
 68.0,
 67.0,
 66.0,
 66.0,
 66.0,
 70.0,
 70.0,
 71.0,
 71.0,
 72.0,
 74.0,
 69.0,
 65.0,
 66.0,
 64.0,
 59.0,
 58.0,
 53.0,
 50.0,
 48.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 41.0,
 42.0,
 40.0,
 40.0,
 41.0,
 40.0,
 41.0,
 40.0,
 40.0,
 0.0,
 1.0,
 5.0,
 9.0,
 9.0,
 9.0,
 10.0,
 11.0,
 11.0,
 11.0,
 12.0,
 13.0,
 13.0,
 13.0,
 14.0,
 14.0,
 18.0,
 19.0,
 19.0,
 20.0,
 20.0,
 20.0,
 24.0,
 28.0,
 30.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 36.0,
 35.0,
 35.0,
 32.0,
 32.0,
 32.0,
 31.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 31.0,
 32.0,
 31.0,
 31.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 28.0,
 25.0,
 21.0,
 20.0,
 17.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 19.0,
 19.0,
 20.0,
 21.0,
 25.0,
 26.0,
 27.0,
 28.0,
 34.0,
 34.0,
 34.0,
 35.0,
 38.0,
 40.0,
 44.0,
 45.0,
 45.0,
 45.0,
 46.0,
 51.0,
 54.0,
 53.0,
 53.0,
 53.0,
 56.0,
 56.0,
 59.0,
 64.0,
 70.0,
 70.0,
 71.0,
 69.0,
 67.0,
 67.0,
 63.0,
 62.0,
 62.0,
 67.0,
 67.0,
 72.0,
 73.0,
 71.0,
 68.0,
 68.0,
 65.0,
 68.0,
 68.0,
 74.0,
 73.0,
 69.0,
 66.0,
 68.0,
 74.0,
 74.0,
 71.0,
 76.0,
 73.0,
 68.0,
 62.0,
 67.0,
 68.0,
 0.0,
 4.0,
 4.0,
 4.0,
 5.0,
 5.0,
 5.0,
 9.0,
 13.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 15.0,
 15.0,
 15.0,
 15.0,
 16.0,
 17.0,
 17.0,
 19.0,
 19.0,
 19.0,
 25.0,
 29.0,
 33.0,
 37.0,
 41.0,
 41.0,
 42.0,
 39.0,
 43.0,
 44.0,
 47.0,
 51.0,
 51.0,
 48.0,
 44.0,
 44.0,
 45.0,
 46.0,
 47.0,
 49.0,
 49.0,
 50.0,
 52.0,
 54.0,
 54.0,
 54.0,
 55.0,
 54.0,
 60.0,
 61.0,
 56.0,
 58.0,
 58.0,
 54.0,
 56.0,
 57.0,
 56.0,
 55.0,
 52.0,
 51.0,
 48.0,
 45.0,
 46.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 44.0,
 43.0,
 43.0,
 45.0,
 44.0,
 47.0,
 47.0,
 46.0,
 49.0,
 44.0,
 43.0,
 46.0,
 40.0,
 38.0,
 44.0,
 39.0,
 39.0,
 40.0,
 41.0,
 40.0,
 46.0,
 45.0,
 45.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 47.0,
 50.0,
 50.0,
 50.0,
 55.0,
 52.0,
 51.0,
 53.0,
 53.0,
 53.0,
 50.0,
 49.0,
 50.0,
 46.0,
 46.0,
 50.0,
 44.0,
 43.0,
 44.0,
 43.0,
 46.0,
 0.0,
 1.0,
 2.0,
 5.0,
 7.0,
 7.0,
 7.0,
 7.0,
 8.0,
 12.0,
 12.0,
 14.0,
 18.0,
 24.0,
 24.0,
 25.0,
 25.0,
 26.0,
 26.0,
 27.0,
 28.0,
 28.0,
 28.0,
 28.0,
 32.0,
 32.0,
 32.0,
 32.0,
 33.0,
 33.0,
 33.0,
 36.0,
 36.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 36.0,
 32.0,
 33.0,
 32.0,
 29.0,
 23.0,
 23.0,
 26.0,
 27.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 27.0,
 27.0,
 23.0,
 24.0,
 25.0,
 27.0,
 27.0,
 28.0,
 29.0,
 26.0,
 27.0,
 26.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 26.0,
 27.0,
 27.0,
 26.0,
 28.0,
 28.0,
 25.0,
 25.0,
 25.0,
 25.0,
 24.0,
 25.0,
 24.0,
 25.0,
 25.0,
 29.0,
 30.0,
 29.0,
 31.0,
 31.0,
 31.0,
 31.0,
 30.0,
 29.0,
 30.0,
 29.0,
 34.0,
 34.0,
 35.0,
 35.0,
 34.0,
 33.0,
 38.0,
 39.0,
 37.0,
 38.0,
 38.0,
 38.0,
 37.0,
 38.0,
 40.0,
 43.0,
 49.0,
 50.0,
 51.0,
 47.0,
 46.0,
 52.0,
 48.0,
 49.0,
 49.0,
 49.0,
 0.0,
 0.0,
 2.0,
 2.0,
 2.0,
 4.0,
 4.0,
 4.0,
 8.0,
 9.0,
 13.0,
 13.0,
 14.0,
 14.0,
 20.0,
 21.0,
 21.0,
 21.0,
 23.0,
 23.0,
 25.0,
 25.0,
 25.0,
 26.0,
 30.0,
 31.0,
 32.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 42.0,
 43.0,
 39.0,
 38.0,
 35.0,
 36.0,
 36.0,
 40.0,
 35.0,
 38.0,
 38.0,
 42.0,
 41.0,
 42.0,
 41.0,
 41.0,
 41.0,
 46.0,
 43.0,
 42.0,
 41.0,
 43.0,
 43.0,
 42.0,
 41.0,
 44.0,
 47.0,
 48.0,
 49.0,
 52.0,
 49.0,
 48.0,
 52.0,
 53.0,
 53.0,
 58.0,
 58.0,
 58.0,
 61.0,
 58.0,
 59.0,
 55.0,
 57.0,
 57.0,
 57.0,
 61.0,
 61.0,
 55.0,
 58.0,
 59.0,
 61.0,
 56.0,
 56.0,
 57.0,
 58.0,
 54.0,
 51.0,
 54.0,
 53.0,
 51.0,
 52.0,
 53.0,
 50.0,
 49.0,
 48.0,
 43.0,
 48.0,
 48.0,
 44.0,
 43.0,
 48.0,
 48.0,
 45.0,
 44.0,
 43.0,
 41.0,
 43.0,
 45.0,
 47.0,
 47.0,
 45.0,
 45.0,
 44.0,
 43.0,
 42.0,
 42.0,
 42.0,
 1.0,
 3.0,
 3.0,
 3.0,
 4.0,
 5.0,
 5.0,
 5.0,
 9.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 11.0,
 13.0,
 15.0,
 15.0,
 15.0,
 21.0,
 25.0,
 27.0,
 28.0,
 30.0,
 30.0,
 34.0,
 35.0,
 35.0,
 36.0,
 37.0,
 37.0,
 36.0,
 36.0,
 37.0,
 40.0,
 40.0,
 41.0,
 42.0,
 39.0,
 39.0,
 42.0,
 43.0,
 44.0,
 44.0,
 44.0,
 42.0,
 41.0,
 41.0,
 41.0,
 35.0,
 31.0,
 30.0,
 29.0,
 27.0,
 27.0,
 23.0,
 23.0,
 24.0,
 29.0,
 29.0,
 28.0,
 28.0,
 28.0,
 29.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 30.0,
 29.0,
 29.0,
 29.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 37.0,
 41.0,
 41.0,
 42.0,
 46.0,
 47.0,
 48.0,
 47.0,
 47.0,
 41.0,
 41.0,
 41.0,
 41.0,
 42.0,
 41.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 37.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 33.0,
 33.0,
 38.0,
 36.0,
 35.0,
 34.0,
 35.0,
 36.0,
 37.0,
 36.0,
 36.0,
 36.0,
 35.0,
 0.0,
 1.0,
 2.0,
 2.0,
 2.0,
 3.0,
 4.0,
 4.0,
 5.0,
 6.0,
 6.0,
 6.0,
 7.0,
 8.0,
 8.0,
 ...]

In [194]:
# The function groups the `cricket` DataFrame by `match_id`, sums the `runs` for each match, and then merges this sum back with the original `cricket` DataFrame based on `match_id`.
final_cricket = cricket.groupby('match_id').sum()['runs'].reset_index().merge(cricket, on='match_id')

In [195]:
final_cricket

,match_id,runs_x,Unnamed: 0,batting_team,bowling_team,ball,runs_y,player_dismissed,city,venue,current_score,ball_no,over,ball_play,balls_left,wicket_left,current_run_rate,last_five
0,2,168,0,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,1,0,1,119,10,0.000000,0.0
1,2,168,1,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,2,0,2,118,10,0.000000,0.0
2,2,168,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,3,0,3,117,10,2.000000,1.0
3,2,168,3,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,4,0,4,116,10,4.500000,3.0
4,2,168,4,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,5,0,5,115,10,3.600000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50496,964,128,121,Sri Lanka,Australia,19.3,1,8,Colombo,R Premadasa Stadium,125,3,19,117,3,2,6.410256,32.0
50497,964,128,122,Sri Lanka,Australia,19.4,0,8,Colombo,R Premadasa Stadium,125,4,19,118,2,2,6.355932,32.0
50498,964,128,123,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,5,19,119,1,1,6.302521,32.0
50499,964,128,124,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,6,19,120,0,1,6.350000,33.0
50500,964,128,125,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,7,19,121,0,1,6.347107,32.0

In [196]:
cricket.columns

Index(['Unnamed: 0', 'match_id', 'batting_team', 'bowling_team', 'ball',
       'runs', 'player_dismissed', 'city', 'venue', 'current_score', 'ball_no',
       'over', 'ball_play', 'balls_left', 'wicket_left', 'current_run_rate',
       'last_five'],
      dtype='object')

## Final DataSet

In [197]:
# Take the Neccessary Columns from the original dataset
final_cricket = final_cricket[['batting_team', 'bowling_team', 'city', 'current_score', 'balls_left', 'wicket_left','current_run_rate', 'last_five', 'runs_x']]

In [198]:
# Drop the Null Rows
final_cricket.dropna(inplace=True)

C:\Users\Muhammad Aqeel\AppData\Local\Temp\ipykernel_128\744091209.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_cricket.dropna(inplace=True)

In [199]:
# Check the row of final dataset 
final_cricket.isnull().sum()

batting_team        0
bowling_team        0
city                0
current_score       0
balls_left          0
wicket_left         0
current_run_rate    0
last_five           0
runs_x              0
dtype: int64

In [200]:
final_cricket.shape

(50501, 9)

In [201]:
# The function randomly shuffles the rows of the Dataset to create a new random order of the data.
final_cricket = final_cricket.sample(final_cricket.shape[0])

In [202]:
final_cricket

,batting_team,bowling_team,city,current_score,balls_left,wicket_left,current_run_rate,last_five,runs_x
48138,India,Bangladesh,Bangalore,52,66,8,5.777778,29.0,146
38324,Sri Lanka,Pakistan,Dubai,170,19,8,10.099010,58.0,211
17613,India,South Africa,Durban,81,40,6,6.075000,35.0,153
31149,West Indies,Bangladesh,Mirpur,49,79,9,7.170732,38.0,132
41753,Bangladesh,Sri Lanka,Chittagong,63,53,4,5.641791,21.0,120
...,...,...,...,...,...,...,...,...,...
30835,Pakistan,England,Dubai,108,25,5,6.821053,35.0,144
13012,Bangladesh,Pakistan,Lahore,84,36,7,6.000000,39.0,136
3091,Pakistan,West Indies,Trinidad,121,19,5,7.188119,29.0,137
31337,India,Afghanistan,Colombo,122,18,6,7.176471,47.0,159
33591,Sri Lanka,Pakistan,Colombo,8,112,10,6.000000,8.0,139

In [203]:
final_cricket.to_csv("final_cricket.csv")